---
import { Image } from 'astro:assets'
import profile from '../assets/profile.jpg'
import logo from '../assets/logo.jpg'
import fb from '../assets/icons/fb.webp'
import twt from '../assets/icons/twitter.jpg'

// image count
const flicks = Object.values(
  import.meta.glob<{ default: ImageMetadata }>(
    '../assets/flicks/*.{jpeg,jpg,png}'
  )
)
---

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => updateViewCount())

  async function updateViewCount() {
    const req = await fetch('https://api.zanedb.com/api/views/flickr')
    const api = await req.json()
    const viewCount = document.querySelector('#view-count')
    viewCount?.setHTMLUnsafe(api.views.toString())
  }
</script>

<dialog
  id="attr"
  class="relative top-[50%] left-[50%] -translate-[50%] border-black border-6 text-center"
>
  <button class="absolute top-0 right-2 p-2 cursor-pointer" data-modal-close
    >✕</button
  >
  <div class="p-4 md:px-24 md:py-12 lg:px-36 xl:px-48 font-mono">
    <h3 class="font-bold text-lg my-4">© 2025 ctx / zdb</h3>
    <p>website by <a href="/cool114%20(2).jpg" class="underline">@zanedb</a></p>
    <p>pics/sfx by ctx</p>
  </div>
</dialog>

<header transition:name="header" transition:persist>
  <div class="flex justify-between p-4 overflow-x-hidden">
    <nav class="flex">
      <Image
        src={profile}
        alt="Profile avatar"
        width="64"
        height="64"
        class="border-pink-200 border-2"
        loading="eager"
      />
      <div
        class="tracking-tighter scale-x-75 -translate-x-[12.5%] pl-2 h-16 flex flex-col justify-between"
      >
        <div class="flex items-baseline">
          <h1 class="text-3xl font-bold">Your photostream</h1>
          <span class="text-sm text-gray-500 pl-2"
            >{flicks.length} items / <span id="view-count"></span> views</span
          >
        </div>
        <ol class="flex z-10 line-clamp-1 cursor-pointer text-blue-400 *:mr-2">
          <li class="font-bold text-black">
            <a href="/">Photostream</a>
          </li>
          <li>Sets</li>
          <li>Favorites</li>
          <li>Galleries</li>
          <li>Profile</li>
          <li>Recent Activity</li>
          <li>Organize</li>
          <li>More ▼</li>
        </ol>
      </div>
    </nav>
    <div class="flex flex-col items-end">
      <a href="/" class="w-full">
        <Image
          src={logo}
          alt="Flickr logo"
          class="w-[40%] float-right"
          loading="eager"
        />
      </a>
      <div class="tracking-tighter pt-2 flex h-8 items-center">
        <button
          class="bg-gray-100 text-black text-sm border-gray-300 border-1 p-1 px-2 cursor-pointer"
          data-paranoia-trigger
        >
          Slideshow
        </button>
        <Image
          src={fb}
          alt="Facebook icon"
          class="h-6 w-6 ml-2"
          loading="eager"
        />
        <Image
          src={twt}
          alt="Twitter icon"
          class="h-[26px] w-[26px] mr-2"
          loading="eager"
        />
        <button
          class="bg-gray-100 text-black text-sm border-gray-300 border-1 p-1 px-2 cursor-pointer"
          data-modal-open
        >
          Share ▼
        </button>
      </div>
    </div>
  </div>
</header>
